pandas==2.3.2
pyarrow==21.0.0
polars==1.33.1

matplotlib==3.10.6

# custom install command in Makefile:
# pip install --pre mojo --index-url https://dl.modular.com/public/nightly/python/simple/
mojo

ruff==0.13.0
